<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,230},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>base_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>btn-restart-level.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>chipmunk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,154},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>chipmunk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,154},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>chipmunk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>chipmunk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,154},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>chipmunk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>chipmunk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,78},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,78},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,78},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,78},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>chipmunk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>thorn-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>tree-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,230},{33,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,480}}</string>
                <key>sourceSize</key>
                <string>{33,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1.png</string>
            <key>size</key>
            <string>{479,1194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0904824b03d93b81554b371f466b19e6$</string>
            <key>textureFileName</key>
            <string>level1.png</string>
        </dict>
    </dict>
</plist>
