<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,657},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>base_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,657},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>btn-credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,78},{301,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,95}}</string>
                <key>sourceSize</key>
                <string>{301,95}</string>
            </dict>
            <key>btn-music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{301,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,95}}</string>
                <key>sourceSize</key>
                <string>{301,95}</string>
            </dict>
            <key>btn-options.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,560},{301,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,95}}</string>
                <key>sourceSize</key>
                <string>{301,95}</string>
            </dict>
            <key>btn-sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,560},{301,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,95}}</string>
                <key>sourceSize</key>
                <string>{301,95}</string>
            </dict>
            <key>btn-start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{301,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,95}}</string>
                <key>sourceSize</key>
                <string>{301,95}</string>
            </dict>
            <key>chipmunk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,78},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>chipmunk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,78},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>chipmunk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>chipmunk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,78},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>chipmunk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,78},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>chipmunk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>chipmunk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>chipmunk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>thorn-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>tree-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,78},{33,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,480}}</string>
                <key>sourceSize</key>
                <string>{33,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1.png</string>
            <key>size</key>
            <string>{978,1139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89dbe00a9421819f8db59d8fcf8f92de$</string>
            <key>textureFileName</key>
            <string>level1.png</string>
        </dict>
    </dict>
</plist>
